* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-size: 20px;
  padding: 3rem;
}

.block {
  margin: 10px auto;
  height: 100px;
  width: 100px;
}

.block__element {
  border: 1px dashed green;
}

.block__element--modifier {
  text-align: center;
  font-size: 3rem; 
  line-height: 100px;
}
